.depoimentos {
    .container {
        .depoimentos_slider {
            width: 100%;
            height: 100%;
            .slick-list{
                height: 100%;
                .slick-track {
                    height: 100%;
                }
            }
            .carousel-depoimento-item {
                width: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                justify-content: center;
                align-items: center;
                .carousel-depoimento-item-cover {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    padding: 30px;
                    background-color: $color_backlight;
                    .text {
                        max-width: 700px;
                        margin-bottom: 30px;
                        p {
                            text-align: center;
                            font-weight: bold;
                            background: transparent;
                            font-size: 18px;
                            font-weight: 300;

                            overflow: hidden; // Removendo barra de rolagem
                            text-overflow: ellipsis; // Adicionando "..." ao final
                            display: -webkit-box;
                            -webkit-box-orient: vertical; 
                        }
                    }
                    .img {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 10px;
                        border-radius: 50%;
                        img {
                            width: 56px;
                            height: 56px;
                            border-radius: 50%;
                        }
                    }
                    .name {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        h3 {
                            font-size: 1.25rem;
                            background: transparent;
                            margin-bottom: 5px;
                            text-align: center;
                        }
                        p {
                            font-size: 0.81rem;
                            font-weight: 100;
                            background: transparent;
                            margin: 5px;
                        }
                    }
                }
            }
        }
    }
}