.modal-content {
    .modal-header {
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        height: 450px;
        position: relative;
        button {
            position: absolute;
            right: 0;
            top: 0;
            background-color: transparent;
            border: 0;
            -webkit-appearance: none;
            span {
                font-size: 2rem;
                font-weight: 700;
                line-height: 1;
                color: #000;
                text-shadow: 0 1px 0 #fff;
                opacity: .5;
            }
        }
    }
}