@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
.navbar-brand img {
  width: auto;
  height: 75px;
}

.destaque {
  background-color: #019DAE !important;
  color: #f4f4f4 !important;
}
.destaque .nav-link {
  color: #f4f4f4 !important;
}

.back-ligth {
  background-color: #EBEFF5;
}

.btn-primary {
  background-color: #FFE653 !important;
  border-color: #FFE653 !important;
  color: #3E4F69 !important;
}

#section-1 {
  color: #f4f4f4;
}

section {
  padding: 100px;
  color: #3E4F69;
}
section .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
section .container h3 {
  margin-bottom: 30px;
}
section .container .combo_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 700px;
}
section .container .combo_text h1 {
  font-size: 60px;
}
section .container .combo_text h3 {
  font-size: 32px;
}
section .container .combo_text p {
  max-width: 540px;
  font-size: 18px;
  margin-bottom: 38px;
}
section .container .combo_text small {
  max-width: 540px;
  font-size: 14px;
}
section .container .combo_text a {
  width: 280px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 0;
}
section .container .artistas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 50px;
}
section .container .artistas .artista-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
section .container .artistas .toggle-artista {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 0;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
}
section .container .artistas .toggle-artista:hover {
  filter: grayscale(0);
}
section .container .parceiros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 50px;
}
section .container .parceiros a {
  width: 130px;
  height: 130px;
  border: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
section .section_3 {
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
section .section_3 .combo_text {
  max-width: 50%;
  align-items: flex-start;
  text-align: left;
}
section .section_3 .img {
  width: 500px;
  height: 332px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
section .section_3 .img::before {
  width: 500px;
  height: 332px;
  content: "";
  margin-top: -30px;
  position: relative;
  background-color: #000;
}

#section-1 {
  height: 100vh;
}

#section-4 {
  background-color: #EBEFF5;
}

@media (max-width: 980px) {
  section {
    padding: 30px;
  }
  section .section_3 .combo_text {
    max-width: 100%;
  }

  #section-1 .combo_text h1 {
    font-size: 30px;
  }
  #section-1 .combo_text p {
    font-size: 12px;
  }
  #section-1 .combo_text a {
    width: 180px;
    height: 34px;
    font-size: 12px;
  }
}
.depoimentos .container .depoimentos_slider {
  width: 100%;
  height: 100%;
}
.depoimentos .container .depoimentos_slider .slick-list {
  height: 100%;
}
.depoimentos .container .depoimentos_slider .slick-list .slick-track {
  height: 100%;
}
.depoimentos .container .depoimentos_slider .carousel-depoimento-item {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.depoimentos .container .depoimentos_slider .carousel-depoimento-item .carousel-depoimento-item-cover {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  background-color: #EBEFF5;
}
.depoimentos .container .depoimentos_slider .carousel-depoimento-item .carousel-depoimento-item-cover .text {
  max-width: 700px;
  margin-bottom: 30px;
}
.depoimentos .container .depoimentos_slider .carousel-depoimento-item .carousel-depoimento-item-cover .text p {
  text-align: center;
  font-weight: bold;
  background: transparent;
  font-size: 18px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.depoimentos .container .depoimentos_slider .carousel-depoimento-item .carousel-depoimento-item-cover .img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 50%;
}
.depoimentos .container .depoimentos_slider .carousel-depoimento-item .carousel-depoimento-item-cover .img img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.depoimentos .container .depoimentos_slider .carousel-depoimento-item .carousel-depoimento-item-cover .name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.depoimentos .container .depoimentos_slider .carousel-depoimento-item .carousel-depoimento-item-cover .name h3 {
  font-size: 1.25rem;
  background: transparent;
  margin-bottom: 5px;
  text-align: center;
}
.depoimentos .container .depoimentos_slider .carousel-depoimento-item .carousel-depoimento-item-cover .name p {
  font-size: 0.81rem;
  font-weight: 100;
  background: transparent;
  margin: 5px;
}

.eventos {
  width: 100%;
  height: 100%;
}
.eventos .container {
  padding: 50px;
}
.eventos .container h2 {
  padding: 50px;
}
.eventos .container .eventos_slider {
  width: 100%;
  height: 100%;
}
.eventos .container .eventos_slider .slick-dots {
  padding: 20px;
  position: relative;
}
.eventos .container .eventos_slider .slick-list {
  height: 100%;
}
.eventos .container .eventos_slider .slick-list .slick-track {
  height: 100%;
}
.eventos .container .eventos_slider .slick-prev:before, .eventos .container .eventos_slider .slick-next:before {
  color: #3E4F69;
}
.eventos .container .eventos_slider .slick-dots li button:before {
  color: #3E4F69;
}
.eventos .container .eventos_slider .carousel-evento-item {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eventos .container .eventos_slider .carousel-evento-item .carousel-evento-item-cover {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.eventos .container .eventos_slider .carousel-evento-item .carousel-evento-item-cover .text {
  max-width: 700px;
  margin-bottom: 30px;
}
.eventos .container .eventos_slider .carousel-evento-item .carousel-evento-item-cover .text p {
  text-align: center;
  font-weight: bold;
  background: transparent;
  font-size: 18px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.eventos .container .eventos_slider .carousel-evento-item .carousel-evento-item-cover .img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 50%;
}
.eventos .container .eventos_slider .carousel-evento-item .carousel-evento-item-cover .img img {
  width: 100%;
}
.eventos .container .eventos_slider .carousel-evento-item .carousel-evento-item-cover .name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.eventos .container .eventos_slider .carousel-evento-item .carousel-evento-item-cover .name h3 {
  font-size: 1.25rem;
  background: transparent;
  margin-bottom: 5px;
}
.eventos .container .eventos_slider .carousel-evento-item .carousel-evento-item-cover .name p {
  font-size: 0.81rem;
  font-weight: 100;
  background: transparent;
  margin: 5px;
}

@media (max-width: 980px) {
  .eventos .container {
    padding: 20px;
  }
  .eventos .container h2 {
    padding: 5px;
  }
}
#contato {
  display: flex;
  justify-content: center;
  align-items: center;
}
#contato .agrouped-container {
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
#contato .agrouped-container .container {
  flex-direction: column;
  width: auto;
}
#contato .agrouped-container h3 {
  padding: 30px;
}
#contato .agrouped-container h5 {
  max-width: 200px;
  text-align: center;
}

.form-container .wpcf7 form {
  font-size: 1rem;
}
.form-container .wpcf7 form p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container .wpcf7 form input {
  border-radius: 3px;
  max-width: 444px;
  width: 100%;
  height: 40px;
}
.form-container .wpcf7 form textarea {
  max-width: 444px;
  width: 100%;
  height: 100px;
  border-radius: 3px;
}
.form-container .wpcf7 form input[type=submit] {
  height: 50px;
  border: 0;
  background-color: #FFE653;
}
.form-container .wpcf7 form label {
  width: 100%;
}

.modal-content .modal-header {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 450px;
  position: relative;
}
.modal-content .modal-header button {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
}
.modal-content .modal-header button span {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
}
.footer .menu_bar {
  max-width: 900px;
  width: 100%;
}
.footer .menu_bar .nav_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer .menu_bar .nav_container a {
  color: #3E4F69;
  text-align: center;
}
.footer .featurette-divider {
  max-width: 900px;
  width: 100%;
  margin: 1rem 0;
  border: 1px solid #3E4F69;
}
.footer .social {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  gap: 30px;
}
.footer .social .social_item {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: transparent;
}
.footer .social .social_item svg {
  width: 100%;
  height: 100%;
  color: #EBEFF5;
  border-radius: 50%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #F0FFFE;
}

.nav-item {
  margin-left: 0.5rem;
}

/*# sourceMappingURL=geral.css.map */
