.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    .menu_bar {
        max-width: 900px;
        width: 100%;
        .nav_container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            list-style: none;
            margin: 0;
            padding: 0;
            a {
                color: $color_contrast;
                text-align: center;
            }
        }
    }
    .featurette-divider {
        max-width: 900px;
        width: 100%;
        margin: 1rem 0;
        border: 1px solid $color_contrast;
    }
    .social {
        display: flex;
        flex-wrap: wrap;
        padding: 50px;
        gap: 30px;
        .social_item {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: transparent;
            svg {
                width: 100%;
                height: 100%;
                color:#EBEFF5;
                //border: 1px solid $color_contrast;
                border-radius: 50%;
            }
        }
    }

    .privacy_terms {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        a {
            text-decoration: none;
            font-weight: bold;
            color: #F3F3F3;
        }
        a:hover {

        }
    }
}



@media (max-width: 980px) {



}