@import "header";
@import "colors";
@import "fonts";
@import "section";
@import "depoimentos";
@import "eventos";
@import "contato";
@import "modal";
@import "footer";


body {
    font-family: 'Roboto', sans-serif;
    background-color:  #F0FFFE;
}

.nav-item {
    margin-left: .5rem;
}